<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vibha.diarypro">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".First">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Add_Record" />
        <activity android:name=".Display_Record" />
        <activity android:name=".Search_main" />
        <activity android:name=".Modify_main" />
        <activity android:name=".Mod_sub" />
        <activity android:name=".Delete_main" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Pass_first"></activity>
    </application>

</manifest>